Source: com.github.totalfreak.TeaTime
Section: x11
Priority: optional
Maintainer: Daniel Kartin <dgkartin@live.dk>
Build-Depends: debhelper (>= 10.5.1),
	       gettext,
               libgtk-3-dev (=> 3.10),
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.totalfreak.TeaTime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This is a tea timer app written in Vala using Meson build system.
