[Desktop Entry]
Name=Tea time
GenericName=Tea timer app
Comment=A timer for your tea brewing
Categories=Utility;
Exec=com.github.totalfreak.TeaTime
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Tea;Timer;Brewing;
X_GNOME_UsesNotifications=true
